<?xml version="1.0" encoding="utf-8" ?>
<metrics>
  <nohros>
    <providers>
      <options name="ThorServer">
        <option name="login" value="nohros"/>
        <option name="server" value="192.168.203.186"/>
        <option name="password" value="Noors03"/>
      </options>

      <provider
        name="MetricsRepository"
        type="Nohros.Metrics.Data.Sql.SqlMetricsDataProviderFactory, nohros.metrics.service">
        <options>
          <option ref="ThorServer"/>
          <option name="database" value="metrics"/>
        </options>
      </provider>
    </providers>
  </nohros>
</metrics>
